
@import 'tailwindcss';

.card {
  animation: card-animation 0.4s ease-out;
  animation-timeline: view();
}

@keyframes card-animation {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}