@import 'tailwindcss';

.input-sections {
    @apply border w-full h-10 justify-center flex items-center p-2 rounded-2xl
    bg-gray-300 text-gray-900 font-mono
}
.btns{
    @apply font-mono w-20 border mr-5 rounded-2xl p-1 transition-all duration-200 ease-in
}
.main::-webkit-scrollbar{
    width: 0px;
}