@import 'tailwindcss';

.input-sections {
    @apply w-full h-13 justify-center flex items-center p-2 rounded-[10px]
    bg-gray-800 font-mono placeholder:text-white file:text-white text-white border-0
}
.btns{
    @apply font-mono w-25 h-13 text-white text-[20px] mr-5 rounded-[10px]  p-1 transition-all duration-200 ease-in
}
.main::-webkit-scrollbar{
    width: 0px;
}