body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}
.contaienr{
  display: flex;
  background: blue;
  flex-direction: column;
  align-items:center;
  width: 100vw;
  height: 100vh;
}
.contaienr h1{
  font-family: arial;
  color: white;
  margin-top: 70px;
}
.contaienr .forms{
  display:flex;
  gap: 10px;

}
.contaienr .forms input{
  width:70%;
  padding: 10px;
  transition: all 0.5s ease;
  border-radius:20px;
}
.contaienr .forms button{
  background:rgb(7, 228, 7);
  width: 100px;
  border-radius: 15px;
  color:white;
  border:none;
  transition: box-shadow 0.5s ease,background 0.1s ease;
}
.contaienr .forms input:hover{
    box-shadow: 0px 5px 5px black;
}
.contaienr .forms button:hover{
    box-shadow: 0px 5px 5px black;
    background:rgb(1, 134, 1);
}
.contaienr .card:hover{
    box-shadow: 0px 5px 15px black;
}
.contaienr .card{
  border: 2px solid black;
  margin: 20px;
  padding: 10px;
  border-radius: 15px;
  background: yellow;
  justify-content:center;
  align-items: center;
  color:black;
  font-weight: bold;
  font-family:Arial;
  display:flex;
  width: 70vw;
  transition: all 0.5s ease;
  border:none;
  animation: cardAnimation 1s ease forwards;

}
@keyframes cardAnimation {
  from{
    transform: translateX(-500px);
  }
  to{
    transform: translateX(0px);
  }
}
.contaienr .card span{
  flex:1;
}
.contaienr .card button{
  margin-left: 20px;
  background: black;
  width:35px;
  height:35px;
  border:none;
  border-radius:50%;
}

.contaienr .card-container{
  margin: 20px;
  overflow: scroll;
  scroll-margin: 0px;
  width: 80%;
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  border-radius: 30px;
}
.contaienr .card-container::-webkit-scrollbar{
  width: 0px;
}
